In [1]:
import pandas as pd
import sqlite3

In [2]:
create_table = """
CREATE TABLE student_score (ID INTEGER, Name VARCHAR(200), MATH REAL, Science REAL)"""

In [5]:
executeSql = sqlite3.connect(":memory:")
executeSql.execute(create_table)
executeSql.commit()

In [7]:
insert_values = [(10, "Gautam", 34, 56), (11, "Raaj", 43, 58), (12, "Rohit", 55, 66)]
insert_statement = "Insert INTO student_score VALUES (?,?,?,?)"
executeSql.executemany(insert_statement, insert_values)
executeSql.commit()

In [8]:
sql_query = executeSql.execute("SELECT * FROM student_score")

In [9]:
result_set = sql_query.fetchall()

In [10]:
result_set

[(10, 'Gautam', 34.0, 56.0),
 (11, 'Raaj', 43.0, 58.0),
 (12, 'Rohit', 55.0, 66.0)]